<ul id="dropdown1" class="dropdown-content" id="user-dropdown">
  <li><a href="#!">Profile</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
</ul>
<nav class="navbar mynavcolor" role="navigation" id="menu">
   <!-- Navigation Bar Begin -->
   <div class="nav-wrapper">
      {% load staticfiles %}

       <!-- List Item Begin -->
      <ul class="hide-on-med-and-down" id="nav-desk">
         <li><a href="/" class="hvr-float-shadow">Home</a></li>
         <li><a href="https://github.com/sagban/Zbar-barcode-reader-python-javascript" class="hvr-float-shadow">Fork It On GitHub</a></li>
          <li><a href="#contact" class="hvr-float-shadow"href="#">Contact Me</a></li>

      </ul>


      <!-- Navigation Bar End -->
      <!-- Mobile Nav Bar Begin -->
      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
         <li><a href="/" class="hvr-float-shadow">Home</a></li>
          <li><a href="https://github.com/sagban/Zbar-barcode-reader-python-javascript" class="hvr-float-shadow">Fork It On GitHub</a></li>
          <li><a href="#contact" class="hvr-float-shadow"href="#">Help</a></li>
      </ul>
      <!-- Mobile Nav Bar End -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>                           </div>
</nav>
